<h2>Show brunch</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @brunch.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @brunch.address %>
  </li>

</ul>

<%= link "Edit", to: brunch_path(@conn, :edit, @brunch) %>
<%= link "Back", to: brunch_path(@conn, :index) %>
